<nav class="navbar navbar-expand-lg " style="background-color: #9bcbde">
    <div class="container-fluid">
        <h4>Hello,user</h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <button class="btn " type="submit">Signout</button>
    </div>
</nav>

<div class="accordion " id="accordionFlushExample" style="width: 250px; height: 1500px; ">
    
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="btn" type="button">
                Student
            </button>
        </h2>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="btn" type="button">
                Profile manager
            </button>
        </h2>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="btn" type="button">
                Reset Password
            </button>
        </h2>
    </div>
</div>
