<nav class="navbar navbar-expand-lg " style="background-color: #9bcbde">
    <div class="container-fluid">
        <h4>Hello,user</h4>      

        <button class="btn " type="submit" (click)="signOut()">Signout</button>
    </div>
</nav>

<div class="accordion " id="accordionFlushExample" style="width: 250px; height: 1500px; ">
    
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="btn" type="button" style="width: 250px;" (click)="showStudent()">
                Student
            </button>
        </h2>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="btn" type="button" style="width: 250px;">
                Profile manager
            </button>
        </h2>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="btn" type="button" style="width: 250px;">
                Reset Password
            </button>
        </h2>
    </div>
</div>


   
    <table class="table table-warning table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of student">
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.role }}</td>
          </tr>
        </tbody>
      </table>


